/*
	New Bulletproof font-face, a la
	http://www.fontspring.com/blog/the-new-bulletproof-font-face-syntax
*/
@font-face {
	font-family: 'B733-DecoRegular';
	src: url('fonts/b733-deco-regular-webfont.eot#') format('eot'), 
	     url('fonts/b733-deco-regular-webfont.woff') format('woff'), 
	     url('fonts/b733-deco-regular-webfont.ttf')  format('truetype'),
	     url('fonts/b733-deco-regular-webfont.svg#webfontH9pO81ke') format('svg');
		font-weight: normal;
		font-style: normal;
	}

/* YUI Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
/* HTML 5 for older browsers */
address,article,section,nav,footer{display:block;margin:0;padding:0;width:100%;}
/* Make body background gradients work */
html, body {height: 100%;}

body {
	background-repeat: no-repeat;
	background-color: #053359;
	background-image: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 1000, from(#053359), to(#032442));
	background-image: -moz-radial-gradient(center 45deg, circle closest-side, #053359 0, #032442 1000px);
	color: #fff;
	font-family: "Helvetica Neueu", "Helvetica", "Arial", sans-serif;
	font-size: 11px;
}

a {
	color: #fff;
}

a:hover {
	text-shadow: 0 0 10px rgb(0, 153, 255);
	transition:         text-shadow 150ms ease;
	-webkit-transition: text-shadow 150ms ease;
	-moz-transition:    text-shadow 150ms ease;
}

.content {
	left: 50%;
	margin-left: -400px;
	margin-top: -31px;
	position: absolute;
	top: 40%;
	width: 800px;
	min-width: 800px;
}

.info {
	letter-spacing: .1em;
	margin-top: 20px;
}

.tagline {
	color: rgb(243, 124, 55);
	font: 18px "B733-DecoRegular","Helvetica Neue","Helvetica",sans-serif;
	margin-bottom: 11px;
}

address span {
	display: block;
	float: left;
	line-height: 20px;
	margin-right: 10px;
	padding-left: 20px;
}

.email {
	background: transparent url(../im/icon-email.png) no-repeat 0 0;
}
.tel {
	background: transparent url(../im/icon-phone.png) no-repeat 0 0;
}
.twitter {
	background: transparent url(../im/icon-twitter.png) no-repeat 0 0;
}

@media screen and (max-device-width: 600px) {
	body {
		font-size: 26px;
	}
	
	.content {
		top: 30%;
	}
	
	.tagline {
		font: 52px "B733-DecoRegular","Helvetica Neue","Helvetica",sans-serif;
		line-height: 1.25em;
		margin: 1em 0 1em;
	}

	address span {
		float: none;
		line-height: 48px;
		background-size: 32px;
		background-position-y: 50% !important;
		padding-left: 40px;
	}
}

address .org {
	padding-left: 0;
}