@font-face {
	font-family: 'B733-DecoRegular';
	src: url('fonts/b733-deco-regular-webfont.eot');
	src: local('☺'), url('fonts/b733-deco-regular-webfont.woff') format('woff'), url('fonts/b733-deco-regular-webfont.ttf') format('truetype'), url('fonts/b733-deco-regular-webfont.svg#webfontH9pO81ke') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* YUI Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;}
/* HTML 5 for older browsers */
address,article,section,nav,footer{display:block;margin:0;padding:0;width:100%;}

body {
	background-color: #053359;
	color: #fff;
	font-family: "Helvetica Neueu", "Helvetica", "Arial", sans-serif;
	font-size: 11px;
}

a {
	color: #fff;
}

.content {
	left: 50%;
	margin-left: -400px;
	margin-top: -31px;
	position: absolute;
	top: 40%;
	width: 800px;
	min-width: 800px;
}

.info {
	letter-spacing: .1em;
	margin-top: 20px;
}

.tagline {
	color: rgb(243, 124, 55);
	font: 18px "B733-DecoRegular","Helvetica Neue","Helvetica",sans-serif;
	margin-bottom: 11px;
}

address span {
	line-height: 20px;
	margin-right: 10px;
}

address img {
	vertical-align: top;
	margin-right: 4px;
}